<h1>Burgers!</h1>

<h2>Burgers that are not devoured!</h2>

<ul>
    {{#each burgers}}
        {{#dataValues}}
        {{#unless devoured}} 
            {{> burger-block devoured=true}}
        {{/unless}}
        {{/dataValues}}
    {{/each}}
</ul>

<h2>Burgers that are devoured!</h2>

<ul>
    {{#each burgers}}
        {{#dataValues}}
        {{#if devoured}}
            {{> burger-block devoured=false}} 
        {{/if}}
        {{/dataValues}}
    {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="bu" name="name">
    </div>

    <div class="form-group">
        <label for="devoured">Devoured?</label><br>
        <input class="devoured" type="radio" name="Devoured" value="1"> Devoured!<br>
        <input class="devoured" type="radio" name="Devoured" value="0"> Not Devoured
    </div>

    <button id="burger_btn" type="submit">Add Burger</button>
</form>